<% provide(:title, "About") %>
<div class="contact-bg">
	<div class="wrapper">
		<header class="header clearfix">
			<h1 class="logo">
				<%= link_to 'Daini Sani', root_path, class: 'nav-links' %>
			</h1>
			<nav>
				<%= link_to 'Home', root_path, class: 'nav-links' %> 
				<%= link_to 'About', about_path, class: 'nav-links active' %>
				<%= link_to 'Work', work_path, class: 'nav-links' %>
				<%= link_to 'Contact', contact_path, class: 'nav-links' %>
			</nav>	
		</header>
	</div>
</div>
<main class="wrapper">
	<div class="row clearfix abt-page">
		<div class="col-2 abt-pg-content abt-pa-content-left">
			<img src="/assets/me4.JPG" class="img-me" alt="image of Daini Sani">
		</div>
		<div class="col-10 abt-pg-content abt-pg-content-right">
			<h2 class="contact-title">About</h2>
			<p class="details-tilte">
				My name is Daini Sani. I'm an Electrical Engineer by academics and a  self taught web developer. I became passionate about web development after unwittinly sitting in a class of Javascript instead of communication systems. Thank God that happened...now i couldn't think of anything i'm more ardent about. Below are some of the skills that i've acquired over the process of teaching myself how to code and because i find the field of web development really exciting, i'm always excited to learn new skills. 
			</p>
			<h3>Languages</h3>
			<hr>
			<br>
			<ul>
				<li>XHTML / HTML5 &nbsp; <b>(Expert)</b></li>
				<li>CSS / CSS3 &nbsp; <b>(Expert)</b></li>
				<li>Javascript + JSON / AJAX &nbsp; <strong>(Intermediate</strong>)</li>
				<li>Ruby &nbsp; <b>(Intermediate)</b></li>
				<li>C/C++ &nbsp; <b>(Beginner)</b></li>
			</ul>
			<h3>Libraries / Frameworks</h3>
			<hr>
			<br>
			<ul>
				<li>Ruby on Rails &nbsp; <b>(Intermediate)</b></li>
				<li>Jquery &nbsp; <b>(Intermediate)</b></li>
				<li>React &nbsp; <b>(Beginner)</b></li>
				<li>Angular &nbsp; <b>(Beginner)</b></li>
				<li>Bootstrap &nbsp; <b>(Intermediate)</b></li>
			</ul>
			<h3>Utilities</h3>
			<hr>
			<br>
			<ul>
				<li>NPM &nbsp; <b>(Intermediate)</b></li>
				<li>Gulp &nbsp; <b>(Intermediate)</b></li>
				<li>Bower &nbsp; <b>(Intermediate)</b></li>
			</ul>
			<h3>Tools</h3>
			<hr>
			<br>
			<ul>
				<li>Git / Github &nbsp; <b>(Intermediate)</b></li>
				<li>SASS &nbsp; <b>(Intermediate)</b></li>
				<li>Chrome Developer Tool &nbsp; <b>(Expert)</b></li>
				<li>Command Line &nbsp; <b>(Intermediate)</b></li>
			</ul>
		</div>
	</div>
	<br>
	<hr class="pad-bottom">
</main>