<% provide(:title, "Home") %>
<div class="main">
	<div class="wrapper">
		<header class="header clearfix">
			<h1 class="logo">
				<%= link_to 'Daini Sani', root_path, class: 'nav-links' %>
			</h1>
			<nav>
				<%= link_to 'Home', root_path, class: 'nav-links active' %> 
				<%= link_to 'About', about_path, class: 'nav-links' %>
				<%= link_to 'Work', work_path, class: 'nav-links' %>
				<%= link_to 'Contact', contact_path, class: 'nav-links' %>
			</nav>	
		</header>
		<span>
			<h2>
				Hi, I'm Daini Sani.
			</h2>
		</span>
		<span>
			<h3>
				Front-end &amp; Ruby on Rails developer.
			</h3>
		</span>
		<div class="intro">
		<p id="typer" class="writer">
            I enjoy building everything from small business sites to rich interactive web apps. <br>If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me here.
        </p>
		</div>
		<div class="action">
			<a class="learn-btn" href="inquiry-form.html">Get Started</a>
			<a class="learn-btn hire-btn" href="inquiry-form.html">Hire Me</a>
		</div>
	</div>
</div>
<main class="wrapper row">
	<h3 class=work-title>Here are some of my latest work.</h3>
	<div class="row clearfix">
      <figure class="portfolio-item col-4 general">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-8 corperate">
        <a href="#">
          <img src="http://lorempixel.com/750/300" alt="" class="portfolio-img">
        </a>
      </figure>
	</div>
	<div class="row clearfix">
		<figure class="portfolio-item col-4 general">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-4 corperate">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-4 design">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
	</div>
	<div class="row clearfix">
		<figure class="portfolio-item col-8 general">
        <a href="#">
          <img src="http://lorempixel.com/750/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-4 corperate">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
	</div>
</main>