<% provide(:title, "Home") %>
<div class="main">
	<div class="wrapper">
		<header class="header clearfix">
			<h1 class="logo">
				<%= link_to 'Daini Sani', root_path, class: 'nav-links' %>
			</h1>
			<nav class="clearfix">
					<%= link_to 'Home', root_path, class: 'nav-links active' %> 
					<%= link_to 'About', about_path, class: 'nav-links' %>
					<%= link_to 'Work', work_path, class: 'nav-links' %>
					<%= link_to 'Contact', contact_path, class: 'nav-links' %>
			</nav>	
		</header>
		<span>
			<h2>
				Hi, I'm Daini Sani.
			</h2>
		</span>
		<span>
			<h3>
				Front-end &amp; Ruby on Rails developer.
			</h3>
		</span>
		<div class="intro">
		<p id="typer" class="writer">
            I enjoy building everything from small business sites to rich interactive web apps. <br>If you are a business seeking a web presence or an employer looking to hire, <br>you can get in touch with me here.
        </p>
		</div>
		<div class="action">
			<%= link_to "Get Started", contact_path, class: "learn-btn" %>
			<a class="learn-btn hire-btn" href="inquiry-form.html">Hire Me</a>
		</div>
	</div>
</div>
<main class="wrapper row">
	<h3 class=work-title>Here are some of my latest work.</h3>
	<div class="row clearfix">
      <figure class="portfolio-item col-4 general">
        <a href="#">
          <img src="http://lorempixel.com/400/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-8 corperate">
        <a href="#">
          <img src="http://lorempixel.com/750/300" alt="" class="portfolio-img">
        </a>
      </figure>
	</div>
	<div class="row clearfix">
		<figure class="portfolio-item col-4 general">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-4 corperate">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-4 design">
        <a href="#">
          <img src="http://lorempixel.com/440/300" alt="" class="portfolio-img">
        </a>
      </figure>
	</div>
	<div class="row clearfix">
		<figure class="portfolio-item col-8 general">
        <a href="#">
          <img src="http://lorempixel.com/750/300" alt="" class="portfolio-img">
        </a>
      </figure>
      <figure class="portfolio-item col-4 corperate">
        <a href="#">
          <img src="http://lorempixel.com/400/300" alt="" class="portfolio-img">
        </a>
      </figure>
	</div>
	<section class="row">
		<div class="col-12">
			<h2>What clients are saying...</h2>
		</div>
		<div class="row">
			<div class="col-12 slider">
				<input type="radio" id="slide_text" checked name="slide-switches" class="slide-switch">
				<label for="slide_text" class="slide-label">Slide text</label>
				<div class="slide-content padded">
					<blockquote>
						The collaboration we had was as good as the final product. I'm astounded by the quality of work they produced. Their work has the power to change your business. Can't wait to work with them again.
                        <cite><%= image_tag("clinet-5.jpg", alt: "image for client-5") %>Jordan Ash</cite>
					</blockquote>
				</div>
				<input type="radio" id="slide_texts" checked name="slide-switches" class="slide-switch">  
                    <label for="slide_texts" class="slide-label">Slide Text</label>
                    <div class="slide-content padded">
                        <blockquote>
                            I can be sometimes difficult to work with, but seeing how this guy listened to me and made vital suggestions tells me how good he is. At the end of the day, great design, great turn-around and great result.
                            <cite><%= image_tag("clinet-1.jpg", alt: "image for client-1") %>Ashley Smith</cite>
                        </blockquote>
                    </div>
                    <input type="radio" id="slide_textss" checked name="slide-switches" class="slide-switch">  
                    <label for="slide_textss" class="slide-label">Slide Text</label>
                    <div class="slide-content padded">
                        <blockquote>
                            When i need a beautiful and yet fully functional site or app, i come to Daini Dev. Anything Daini and his team touch turns into smooth, intuitive, GUI goodness. They make delightful products. It's really that simple.
                            <cite><%= image_tag("clinet-7.jpg", alt: "image for client-7") %>Wesley Grant</cite>
                        </blockquote>
                    </div>
			</div>
		</div>
	</section>
</main>