<% provide(:title, "Thanks") %>
<div class="contact-bg">
	<div class="wrapper">
		<header class="header clearfix">
			<h1 class="logo">
				<%= link_to 'Daini Sani', root_path, class: 'nav-links' %>
			</h1>
			<nav>
				<%= link_to 'Home', root_path, class: 'nav-links' %> 
				<%= link_to 'About', about_path, class: 'nav-links' %>
				<%= link_to 'Work', work_path, class: 'nav-links' %>
				<%= link_to 'Contact', contact_path, class: 'nav-links active' %>
			</nav>	
		</header>
	</div>
</div>
<main class="wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="contact-title">Thanks you for your message!</h2>
			<p class="details-tilte">I'll get back to you soon.</p>
		</div>
	</div>
	<hr>
</main>