<% provide(:title, "Contact") %>
<div class="contact-bg">
	<div class="wrapper">
		<header class="header clearfix">
			<h1 class="logo">
				<%= link_to 'Daini Sani', root_path, class: 'nav-links' %>
			</h1>
			<nav>
				<%= link_to 'Home', root_path, class: 'nav-links' %> 
				<%= link_to 'About', about_path, class: 'nav-links' %>
				<%= link_to 'Work', work_path, class: 'nav-links' %>
				<%= link_to 'Contact', new_contact_path, class: 'nav-links active' %>
			</nav>	
		</header>
	</div>
</div>
<main class="wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="contact-title">Thanks for getting in touch!</h2>
			<h3 class="details-tilte">I'd like to talk to you. Just tell me a few things</h3>
		</div>
	</div>
	<br>
	<hr class="pad-bottom">
	<div class="row">
		<div class="col-12 form-wrapper">
			<%= form_for @contact do |f| %>
				<%= f.label :name %><br>
				<%= f.text_field :name, required: true %>

				<br>

				<%= f.label :email %><br>
				<%= f.email_field :email, required: true %>

				<br>

				<%= f.label :message %><br>
				<%= f.text_area :message, as: :text %><br>

				<div class="hidden">
					<%= f.label :nickname %><br>
					<%= f.text_field :nickname, hint: "leave this field blank" %>
				</div>

				<%= f.submit "Send message", class: "btn" %>
			<% end %>
		</div>
	</div>
</main>