<footer class="row">
	<main class="wrapper">
		 <div class="row clearfix">
		 	<div class="col-7 clearfix footer-nav">
		 		<nav>
		 			<h5 class="get-in-touch">Daini Sani</h5>
		 			<ul>
						<li><%= link_to 'Home', root_path, class: 'nav-links' %></li> 
						<li><%= link_to 'About', about_path, class: 'nav-links' %></li>
						<li><%= link_to 'Work', work_path, class: 'nav-links active' %></li>
						<li><%= link_to 'Contact', contact_path, class: 'nav-links' %></li>
					</ul>
				</nav>
				<div class="address">
                    <h5 class="hit-me-up">Get In Touch</h5>
                    <address>Daini Dev<br>
                        7 Nicosia Road,<br>
                        Famagusta, TRNC.<br>
                        <a href="tel:+905338795437"><i class="fa fa-phone"></i> +905338794537</a><br>
                        <a href="mailto:daini5050@live.com"><i class="fa fa-envelope"></i> daini5050@live.com</a>
                    </address>
                </div>
		 	</div>
		 	<div class="col-5 footer-nav-right">
		 		<input id="flip" type="checkbox" name="flip-card">
                    <label for="flip">
                        <div class="card">
                            <div class="front">
                                <div class="front_bg">
                                    DS
                                </div>
                                <div class="strip"></div>
                                <div class="left_side"></div>
                                <div class="right_side"></div>
                                <div class="name">
                                    <span>DAINI</span> SANI
                                </div>
                                <div class="profession">
                                    Web Developer
                                </div>
                            </div>
                            <div class="back">
                                <div class="left_back"></div>
                                <div class="item">
                                    <a href="https://github.com/daini5050" target="_blank"><i class="fa fa-github card-icon"></i>Github</a>
                                </div>
                                <div class="item">
                                    <a href="https://www.facebook.com/daini.sani" target="_blank"><i class="fa fa-facebook card-icon"></i>Facebook</a>
                                </div>
                                <div class="item">
                                    <a href="http://codepen.io/daini5050" target="_blank"><i class="fa fa-codepen card-icon"></i>Codepen</a>
                                </div>
                                <div class="item">
                                    <a href="https://twitter.com/daini5050" target="_blank"><i class="fa fa-twitter card-icon"></i>Twitter</a>
                                </div>
                            </div>
                        </div>
                    </label>
		 	</div>
	 </div>
	 <hr>
	 <div class="row">
	 	<div class="col-12 social">
	 		<a href="https://facebook.com/daini.sani" class="social-links" target="_blank"><i class="fa fa-facebook"></i>facebook</a>
	 		<a href="https://github.com/daini5050" class="social-links" target="_blank"><i class="fa fa-github"></i> github</a>
	 		<a href="https://codepen.io/daini5050" class="social-links" target="_blank"><i class="fa fa-codepen"></i> codepen</a>
	 		<a href="https://twitter.com/daini5050" class="social-links" target="_blank"><i class="fa fa-twitter"></i> twitter</a>
	 	</div>
		<div class="col-12">
		 	<small>&copy; Daini Sani <%= copyright_notice_year_range(2016) %> All rights reserverd.</small>
		</div>
	 </div>
 	</main>
</footer>