<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= yield %>
	<%= render 'layouts/footer' %>
	<script>
	    var win = $(window),
	        foo = $('#typer');

	    foo.typer(['Are you a business owner, a start-up, or a small company?', 'Are you an artist, a blogger, or an entrepreneur?', 'Are you looking to expand your business or product online?', 'or maybe you just need a website or web app?', 'if you answer yes to any of these questions,', 'then you are in the  right place.', 'Welcome to Daini Dev!', 'A freelance front-end and Ruby on rails developer.', 'Let\'s get started!' ]);

	</script>
</body>
</html>
